<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Enter your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">
  </div>

  <div class="form-group">
    <label>Your phone</label>
    <input name="phone" type="text" class="form-control" placeholder="Ваш телефон">
  </div>

  <div class="form-group">
    <label>Time of visit</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
